<nav id="sidebar" class="collapse width show">
    <div class="p-4 pt-5">
        <img id="labLogo" class="img logo rounded-circle mb-4" src="{{ "/assets/img/default-placeholder-image.png" | site.url }}">
    
        <h2 class="text-center font-weight-bold">
            <a href="/" style="color:whitesmoke">NASCL</a>
        </h2>
        
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">Research</a>
            </li>
            <li>
                <a href="{{ "people" | relative_url }}">People</a>
                <!-- <a href="#peopleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">
                    People
                </a>
                <ul class="list-unstyled collapse" id="peopleSubmenu" style>
                    <li>
                        <a href="#">Person 1</a>
                    </li>
                    <li>
                        <a href="#">Person 2</a>
                    </li>
                    <li>
                        <a href="#">Person 3</a>
                    </li>
                </ul> -->

            </li>
            <li>
                <a href="#">Publications</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>
